  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Student Info</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/other">My Page</a>
        <a class="nav-item nav-link" routerLink="/Superheroes">Student Data</a>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>